# folder with node modules
node_modules

# Distenation folder for building app
dist

# In macOS .DS_Store is a file that stores custom attributes of its containing folder
.DS_Store

.editorconfig

# Editors configurations
.vscode
