@import "variables";

.document-form {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: calc(100vh - 110px);
  margin: 30px;
  padding: 30px;
  padding-top: 5px;

  .panel-title > a {
    cursor: pointer;
  }
  .field {
    resize: vertical;
  }

  .deleted-label {
    color: #ff0000;
  }

  a {
    cursor: pointer;
  }

  .custom-field {
    position: relative;
    .remove-field {
      position: absolute;
      top: 0;
      right: 0;
    }
    .remove-field:hover {
      color: #ff0000;
      cursor: pointer;
    }
    .restore-field {
      position: absolute;
      top: -2px;
      right: 20px;
    }

    label {
      word-wrap: break-word;
      padding-right: 80px;
    }
  }
}
