@import "variables";

.sidebar {
	color: #fff;
	border-radius: 0;
	.create-btn {
		margin-right: 15px;
	}

	.documentsList {
		overflow: auto;
		max-height: calc(100vh - 200px);
		.documentItem {
			height: 50px;
			background-color: #fff;
			color: #777;
			margin-bottom: 10px;
			padding-left: 10px;
			padding-top: 5px;
			position: relative;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			p {
				display: inline-block;
				max-width: 70%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-style: italic;
				cursor: pointer;
			}
			p:hover {
				color: #31708f;
			}

			.updated-time {
				font-size: 10px;
				position: absolute;
				bottom: 5px;
				right: 15px;
			}
			.actions {
				position: absolute;
				top: 3px;
				right: 10px;
				.action-icon {
					margin: 5px;
					cursor: pointer;
				}
				.action-icon:hover {
					color: #31708f;
				}
				.delete-icon:hover {
						color: #ff0000;
				}
			}
		}

		.active-document-item {
			box-shadow: -3px 3px 4px 0px rgb(49, 112, 143);
		}
	}
}
